<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>postImageName</key>
		<string>post1</string>
		<key>name</key>
		<string>kot</string>
		<key>userName</key>
		<string>kot</string>
		<key>userSay</key>
		<string>Mya</string>
		<key>userAvatarImage</key>
		<string>kot</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post1</string>
		<key>name</key>
		<string>kot</string>
		<key>userName</key>
		<string>kot</string>
		<key>userSay</key>
		<string>Mya</string>
		<key>userAvatarImage</key>
		<string>kot</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post2</string>
		<key>name</key>
		<string>pes</string>
		<key>userName</key>
		<string>pes</string>
		<key>userSay</key>
		<string>Gav</string>
		<key>userAvatarImage</key>
		<string>pes</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post3</string>
		<key>name</key>
		<string>verblud</string>
		<key>userName</key>
		<string>verblud</string>
		<key>userSay</key>
		<string>Tfu</string>
		<key>userAvatarImage</key>
		<string>verblud</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post4</string>
		<key>name</key>
		<string>video</string>
		<key>userName</key>
		<string>video</string>
		<key>userSay</key>
		<string>Axaxax</string>
		<key>userAvatarImage</key>
		<string>video</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post5</string>
		<key>name</key>
		<string>vine</string>
		<key>userName</key>
		<string>vine</string>
		<key>userSay</key>
		<string>Smotri video</string>
		<key>userAvatarImage</key>
		<string>vine</string>
	</dict>
	<dict>
		<key>postImageName</key>
		<string>post6</string>
		<key>name</key>
		<string>smexoTV</string>
		<key>userName</key>
		<string>smexoTV</string>
		<key>userSay</key>
		<string>TV</string>
		<key>userAvatarImage</key>
		<string>smexoTV</string>
	</dict>
</array>
</plist>
