<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instagramImage</key>
	<array>
		<string>2</string>
		<string>1</string>
		<string>2</string>
		<string>1</string>
		<string>2</string>
		<string>1</string>
	</array>
	<key>instagramLabel</key>
	<array>
		<string>Вот так вот</string>
		<string>Так вот так</string>
		<string>Вот так вот</string>
		<string>Так вот так</string>
		<string>Вот так вот</string>
		<string>Так вот так</string>
	</array>
</dict>
</plist>
